@tailwind base;
@tailwind components;
@tailwind utilities;

 
:root {
    --text-color: #475569;
    --text-dark-color: #1e293b;
    --theme-color: #f9fafb;
    --bg-color: #1e293b;
    --app-color: rgb(250, 200, 2);
}

:dark-theme {
    --text-color: #f8fafc;
    --text-dark-color: #f9fafb;
    --theme-color: #1e293b;
    --bg-color: #f9fafb;
    --app-color: #fac802;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* scrollbar track */
  ::-webkit-scrollbar-track { 
    border-radius: 5px;
    background-color: #ccc;
  }
   
   /* scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: var(--text-color); 
    border-radius: 10px;
  }
  
  

