@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --text-color: #475569;
    --text-dark-color: #1e293b;
    --theme-color: #f9fafb;
    --bg-color: #1e293b;
    --app-color: rgb(250, 200, 2);
}

:dark-theme {
    --text-color: #f8fafc;
    --text-dark-color: #f9fafb;
    --theme-color: #1e293b;
    --bg-color: #f9fafb;
    --app-color: #fac802;
}
/* width */
::-webkit-scrollbar {
    height: 10px;              
    width: 10px;  
  }
  
  /* scrollbar track */
  ::-webkit-scrollbar-track { 
    border-radius: 5px;
    background-color: #ccc;
  }
   
   /* scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: var(--text-color); 
    border-radius: 10px;
  }
  @layer base {
    body {
      @apply  text-black leading-normal;
    }
    .h3 {
      @apply text-[22px] lg:text-[32px] font-bold text-white;
    }
    .btn {
      @apply bg-app-color h-[60px] px-4 text-black rounded-md hover:bg-yellow-500 transition flex items-center text-lg font-medium outline-none;
    }
    .link {
      @apply bg-app-color h-[60px] px-4 text-black rounded-md hover:bg-yellow-500 transition flex items-center text-lg font-medium outline-none;
    }
    .section {
      @apply py-12 lg:py-24;
    }
    .section-title {
      @apply text-2xl lg:text-[28px] font-bold leading-none mb-9;
    }
    .section-subtitle {
      @apply mt-6 mb-8 text-white;
    }
    .input,
    .select {
      @apply outline-none w-full border-b border-gray-500 text-blue-700 h-[38px] text-xl;
    }
    .input {
      @apply lg:max-w-[410px] bg-transparent;
    }
    .select {
      @apply lg:max-w-[200px] cursor-pointer;
    }
    .active{
      background-color: yellow;
    }
  }
  

/* #editorc ol {
  counter-reset: item;
}
#editorc li {
  display: block;
}
#editorc li:before {
  content: counters(item, ".") ;
  counter-increment: item;
} */
/* ol {
  counter-reset: item;
}
li {
  display: block;
}
li:before {
  content: counters(item, ".") ;
  counter-increment: item
} */


/* *{
  box-sizing: border-box;
  max-width: 1280px;
  padding: 0;
  margin: 0;
} */